*{
	margin: 0px;
	padding: 0px;
}
header{
	background: linear-gradient(90deg, rgba(199,199,199,1) 0%, rgba(135,148,149,1) 50%, rgba(226,235,234,1) 100%);
	}
header nav{
	display: flex;
	flex-direction: ;
}
footer{
	background: linear-gradient(0deg, rgba(204,204,204,1) 0%, rgba(189,171,131,1) 100%);
}