*{
	margin: 0px;
	padding: 0px;
}
header{
	text-align: center;
	background: linear-gradient(90deg, rgba(199,199,199,1) 0%, rgba(135,148,149,1) 50%, rgba(226,235,234,1) 100%);
	color : white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
	}

nav ul {
    display : flex;
    flex-wrap: nowrap;
    width : 100%;
    justify-content: space-around ;
    list-style: none;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    color : white;
    font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

nav li {
    list-style-type: none;
	display: inline-block;
	border: solid 1px;
	color:  white;
	padding: 20px;
	margin:  10px;
	transition: all 0.5s ease;
}

li:hover {
	background-color: rgb(99, 98, 98);
	transform:  rotate(2deg) scale(1.2) ;
}

nav a:link, nav a:visited{
    display: block;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

body {
    margin: 2px;
    padding: 2px;
}

section{
    margin-left: 190px;
    color : black;
}

footer section{
	display : flex;
    flex-wrap: nowrap;
}
h2{
    margin : 10px ;
}

h3{
    font-size: 50px;
}

#logo{
    width : 150px;
    margin-right: 200px;
    margin-bottom: 0;
}

.footer{
    border: none;
    font-size:10px;
}
.background {
    background-color: rgb(135,148,149) ;
    padding: 10px;
}

article p{
    text-align: justify;
}

article section {
    display: inline-table;
    justify-content: center;
    padding : 50px; 

}

.gras {
    font-weight: bold ;
}

article h2{
    font-size: 30px;
    text-align: center;
}

section{
	margin-bottom: 20px;
}
footer{
	background: linear-gradient(0deg, rgba(214,214,214,1) 0%, rgba(176,181,180,1) 100%);
    display: flex;
    justify-content: space-around;
    padding : 50px; 

}
.network{
    width: 70px;
    height: 70px;
    padding : 10px
}

.energie{
    width: 300px;
    height: 300px;
}

.recherche{
    position: fixed;
    display: inline-block;
    background: linear-gradient(66deg, rgba(187,187,187,1) 0%, rgba(170,185,169,1) 50%, rgba(81,121,99,1) 100%);
    padding: 10px;
}
.recherche label{
    display: flex;
    flex-direction: column;
}
