*{
	margin: 0px;
	padding: 0px;
}

header{
	text-align: center;
	/* background: radial-gradient(circle, rgba(20,145,204,1) 0%, rgba(34,182,196,1) 50%, rgba(0,29,189,1) 100%); */
    background: transparent url('../IMAGES/maison2.jpg') no-repeat;
    background-size: cover;
    font-size: 40px;
	}
nav ul {
    display : flex;
    flex-wrap: nowrap;
    width : 100%;
    justify-content: space-around ;
    list-style: none;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    color : white;
    font-weight: bold;
    font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

nav li {
    list-style-type: none;
	display: inline-block;
	border: solid 1px;
	color:  rgb(255, 255,255);
    background-color: rgba(48, 48, 48, 0.4);
    font-size: 20px;
	padding: 20px;
	margin:  10px;
	transition: all 0.5s ease;
}

.menu li:hover {
	background-color: rgb(212, 198, 159) /*rgb(99, 98, 98)*/;
	transform:  rotate(2deg) scale(1.2) ;
}

nav a:link, nav a:visited{
    display: block;
    text-decoration: none;
    margin-left: 10px;
}

body {
    margin: 2px;
    padding: 2px;
    background-color:rgb(243, 230, 194);
}

section{
    color : black;
}

footer section{
    text-align: center;
	display : flex;
    flex-wrap: nowrap;
}
h2{
    margin : 10px ;
}

h3{
    font-size: 50px;
}

#logo{
    width : 150px;
    margin-right: 200px;
    margin-bottom: 0;
}

.footer{
    border: none;
    font-size:10px;
}
.background {
    background-color: rgb(211, 206, 206) ;
}

article p{
    text-align: justify;
}

article section {
    display: inline-table;
    justify-content: center;
    padding : 50px; 

}

.gras {
    font-weight: bold ;
}

article h2{
    font-size: 30px;
    text-align: center;
}

section{
	margin-bottom: 20px;
}
footer{
	background: radial-gradient(circle, rgba(255,226,129,1) 0%, rgba(248,59,59,1) 0%, rgba(255,237,133,1) 100%);
    display: flex;
    justify-content: space-around;
    padding : 50px; 

}
.network{
    width: 70px;
    height: 70px;
    padding : 10px
}

.energie{
    width: 300px;
    height: 300px;
}

.recherche{
    margin-top : 10px;
    background-color: rgb(240, 220, 140);
    padding: 10px;
    border : black 2px solid ;
}
.recherche label{
    display: flex;
    flex-direction: column;
}

.actu img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.actu h3{
    font-size: 50px;
    color : rgb(255, 115, 0);
    margin: 10px;
    padding: 10px;
    background-color:#cccbcb;
    text-align : center;
}

#home{
    padding: 10px;
    font-size: 20px;
}
.formLogin {
    background-color: #ccccd7;
    max-width: 400px;
    padding : 1vw;
    list-style: none;
    margin : 50 px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 15px;
    margin-top : 15px;
    justify-content: center;
}

#deco {
    color : white;
    font-size : 32px;
    background: rgba(48, 48, 48, 0.4);
    padding: 4px;
}

.honoraire {
    display: flex;
    justify-content: space-around;
    
  }
  
.honoraire th, td {
    padding: 20px;
    border : 1px solid black;
    border-collapse: collapse;
    border: 3px solid black;
    text-align: center;
    background-color:rgb(199,199,199) ;
  }

.honoraire_title{
    text-align: center;
    margin : 10px;

}
.ajout {
    background-color: #ccccd7;
    max-width: 400px;
    padding : 1vw;
    border: solid 2px black;
    list-style: none;
    margin : 50 px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 15px;
    margin-top : 15px;
    justify-content: center;
}
#bold{   
    font-size: 30px;
    border-bottom: black solid 1px;
    margin: 10px;
    padding: 10px;
    background-color:#9e9e9e;
    text-align : center;
}
.ajout h2{
    text-align : center;
}

section div{
    display: inline-block;
    padding-right: 50px;
}

section div h1 {
    font-size: 50px;
    max-width: 700px;
    color : white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.imhouse{
    max-width: 20em;
    margin-top: 10px;
}
#logo{
    width : 250px;
    padding-top: 10px;
    margin-right: 0px;
}